<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trevor's Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/Content/all.min.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/Content/clean-blog.min.css" rel="stylesheet" />
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            @*<a class="navbar-brand" href="index.html">Start Bootstrap</a>*@
            @Html.ActionLink("Trevor's Blog", "Index", "Home", null, new { @class = "navbar-brand" })

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Get, htmlAttributes: new { @class = "form", id = "app" }))
                        {
                            <input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search" />
                            <i class="fa fa-search" id="searchIcon" aria-hidden="true"></i>
                        }
                    </li>
                    <li class="nav-item">
                        @*<a class="nav-link" href="index.html">Home</a>*@
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Create Post", "Create", "BlogPosts", null, new { @class = "nav-link" })
                        </li>
                    }

                    <li class="nav-item">
                        @*<a class="nav-link" href="contact.html">Contact</a>*@
                        @Html.ActionLink("Contact", "Contact", null, new { @class = "nav-link" })

                    </li>
                    <li class="nav-item">
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="//www.linkedin.com/in/trevor-popham/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="//github.com/trevorpopham">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">A Blog by Trevor Popham</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Scripts/clean-blog.min.js"></script>>
    

<script>
    $(function () { tinymce.init({ selector: '#RTE' }) });
    $("#searchStr").hide();
    $("#searchIcon").click(function () {
        $("#searchStr").toggle();
    });
</script>
@RenderSection("scripts", required: false)


</body>

</html>
