@model Falcon_Blog_2.Models.Comment

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Comments", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    @Html.Hidden("BlogPostId", Model.Id)
    @Html.HiddenFor(model => model.Slug)

    @Html.TextArea("CommentBody", new { rows = 20, cols = 100})

    <button type="submit">Submit Me</button>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
